**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.dbmdl
**/bin
**/charts
**/docker-compose*
**/node_modules
**/npm-debug.log
**/obj
LICENSE
README.md